<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
{% set networkData = _Network.getNetworkData() %}

<head profile="http://www.w3.org/1999/xhtml/vocab">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{this.title | raw}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="https://newsroom.unsw.edu.au/profiles/newsroom/themes/custom/carto/favicon.ico" type="image/vnd.microsoft.icon" />
    <meta name="generator" content="Drupal 7 (http://drupal.org)" />
    <link rel="canonical" href="https://newsroom.unsw.edu.au/news/social-affairs/new-report-claims-broken-system-fails-migrant-workers-suffering-wage-theft" />
    <link rel="shortlink" href="https://newsroom.unsw.edu.au/node/19529" />
    <meta property="og:site_name" content="UNSW Newsroom" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="New report claims &#039;broken system&#039; fails migrant workers suffering wage theft" />
    <meta property="og:url" content="https://newsroom.unsw.edu.au/news/social-affairs/new-report-claims-broken-system-fails-migrant-workers-suffering-wage-theft" />
    <meta property="og:updated_time" content="2018-10-29T06:46:49+11:00" />
    <meta property="og:image" content="https://newsroom.unsw.edu.au/sites/default/files/thumbnails/image/wage_theft_cover_1.jpeg" />
    <meta property="og:image:url" content="https://newsroom.unsw.edu.au/sites/default/files/thumbnails/image/wage_theft_cover_1.jpeg" />
    <meta property="og:image:secure_url" content="https://newsroom.unsw.edu.au/sites/default/files/thumbnails/image/wage_theft_cover_1.jpeg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://newsroom.unsw.edu.au/news/social-affairs/new-report-claims-broken-system-fails-migrant-workers-suffering-wage-theft" />
    <meta name="twitter:title" content="New report claims &#039;broken system&#039; fails migrant workers suffering wage theft" />
    <meta name="twitter:description" content="Less than 10 per cent of international students and backpackers in Australia recover unpaid wages, even when they are aware they are being underpaid." />
    <meta name="twitter:image" content="https://newsroom.unsw.edu.au/sites/default/files/thumbnails/image/wage_theft_cover_1.jpeg" />
    <meta name="twitter:image:alt" content="The new &#039;Wage Theft&#039; report is based on a survey of more than 4,300 temporary migrant workers from 107 different countries who were working across all Australian states and territories." />
    <meta property="article:published_time" content="2018-10-29T05:46:00+11:00" />
    <meta property="article:modified_time" content="2018-10-29T06:46:49+11:00" />
    <meta name="dcterms.title" content="New report claims &#039;broken system&#039; fails migrant workers suffering wage theft" />
    <meta name="dcterms.creator" content="z3525182" />
    <meta name="dcterms.date" content="2018-10-29T05:46+11:00" />
    <meta name="dcterms.type" content="Text" />
    <meta name="dcterms.format" content="text/html" />
    <meta name="dcterms.identifier" content="https://newsroom.unsw.edu.au/news/social-affairs/new-report-claims-broken-system-fails-migrant-workers-suffering-wage-theft" />
    

    <link type="text/css" rel="stylesheet" href="{{networkData.templatePath}}/static/css/css_xE-rWrJf-fncB6ztZfd2huxqgxu4WO-qwma6Xer30m4.css" media="all" />
    <link type="text/css" rel="stylesheet" href="{{networkData.templatePath}}/static/css/css_BMollo3pa65v_GKy7HL6OmBwuL6VEn8fG0Gni15LbNY.css" media="all" />
    <link type="text/css" rel="stylesheet" href="{{networkData.templatePath}}/static/css/css_vtSISfdhnTfO8xF8yU77jZjmFZGBNz9iieMckrfGiSI.css" media="all" />
    <link type="text/css" rel="stylesheet" href="{{networkData.templatePath}}/static/css/css_UnqsVjvDK7sbmAVqQNpqDG4OF0KZ5rDvDcTJSkRFwiw.css" media="all" />
    <link type="text/css" rel="stylesheet" href="{{networkData.templatePath}}/static/css/css_rSqhhLV9-SV_X3NYSPgr76rNFYxNJOfVXqPmerLRqDc.css" media="all" />
    <link type="text/css" rel="stylesheet" href="{{networkData.templatePath}}/static/css/css__WguJdW3vGMCJR83D9qaE1JkyJyhZpYVZ5Yax50Tt6o.css" media="print" />
    
    <script type="text/javascript">
        <!--//--><![CDATA[//><!--
        (function (i, s, o, g, r, a, m) {
            i["GoogleAnalyticsObject"] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o), m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, "script", "//www.google-analytics.com/analytics.js", "ga");
        ga("create", "UA-21597384-13", {
            "cookieDomain": "auto"
        });
        ga("set", "anonymizeIp", true);
        ga("send", "pageview");
        //--><!]]>
    </script>
    
</head>

<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-19529 node-type-article">
    <!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
    <!-- Corporate GTM Container - 20151202 -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5JB423" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script type="text/javascript">
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5JB423');
    </script>
    <!-- End Corporate GTM Container -->

    <div id="skip-link">
        <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
    </div>

    <div id="page">
        {{ this.render('_partials/header.twig', {networkData : networkData}) | raw }}

        {{ content | raw}}

        {{ this.render('_partials/footer.twig', {networkData : networkData}) | raw }}

        {{ this.render('_partials/scripts.twig', {networkData : networkData}) | raw }}

    </div>
</body>

</html>